{% extends 'main/base.html' %}

{% block navbar %}
    <h1>Активность</h1>
{% endblock %}

{% block content %}

    <h1 id="load_act_link"><a id="load_act_link" href="/activity/load">Скачать данные об активности</a></h1>

    <div class="activity_users_block">
        {% if dilers_count > 0 %}
        <div class="role-block">
            <h1>Дилеры</h1>
            <div class="users-list">
                {% for user in dilers %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if managers_count > 0 %}
        <div class="role-block">
            <h1>Менеджеры</h1>
            <div class="users-list">
                {% for user in managers %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if clients_count > 0 %}
        <div class="role-block">
            <h1>Клиенты</h1>
            <div class="users-list">
                {% for user in clients %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if supermanagers_count > 0 %}
        <div class="role-block">
            <h1>Суперменеджеры</h1>
            <div class="users-list">
                {% for user in supermanagers %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if admins_count > 0 %}
        <div class="role-block">
            <h1>Администраторы</h1>
            <div class="users-list">
                {% for user in admins %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

{% endblock %}
