{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Активность</h1>
{% endblock %}

{% block content %}

    <div id="load_act_link_block">
        <a id="stats_act_link" href="/activity/stats">Статистика</a>
        {% if request.user.role == 'ADMIN' %}
            <a id="load_act_link" href="/activity/load">Скачать данные об активности</a>
        {% endif %}
    </div>

    <div class="find-activity-user-block">
        <label for="fau">Поиск пользователя: </label>
        <input id="fau" type="text" placeholder="username" oninput="search_user()">
    </div>

    <div class="activity_users_block">
        {% if DEALER_count > 0 %}
        <div class="role-block">
            <h1>Дилеры</h1>
            <div class="users-list">
                {% for user in DEALER %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if managers_count > 0 %}
        <div class="role-block">
            <h1>Менеджеры</h1>
            <div class="users-list">
                {% for user in managers %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if clients_count > 0 %}
        <div class="role-block">
            <h1>Клиенты</h1>
            <div class="users-list">
                {% for user in clients %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if supermanagers_count > 0 %}
        <div class="role-block">
            <h1>Суперменеджеры</h1>
            <div class="users-list">
                {% for user in supermanagers %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if admins_count > 0 %}
        <div class="role-block">
            <h1>Администраторы</h1>
            <div class="users-list">
                {% for user in admins %}
                    <a href="/user_history/{{ user.id }}" class="user-activity-link">
                        {{ user.username }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/activity.js' %}"></script>
{% endblock %}
