{% extends 'main/base.html' %}

{% block navbar %}
    <h1>Добавление менеджера</h1>
{% endblock %}

{% block content %}

    <div class="forma-block">
        <div class="filler"></div>
        <form method="post">
            <div class="inputarea">
                <input class="form-control-input" id="username" type="text" name="username" required>
                <div class="labelline" for="username">Имя пользователя</div>
            </div>
            <div class="inputarea">
                <input class="form-control-input" id="name" type="text" name="name" required>
                <div class="labelline" for="name">Имя</div>
            </div>
            <div class="inputarea">
                <input class="form-control-input" id="surname" type="text" name="surname" required>
                <div class="labelline" for="surname">Фамилия</div>
            </div>
            <div class="inputarea">
                <input class="form-control-input" id="password" type="text" name="password" required>
                <div class="labelline" for="password">Пароль</div>
            </div>
            <div class="button-block">
                <button id="submit-button" type="submit">Добавить</button>
            </div>
            {% csrf_token %}
        </form>
        <div class="filler"></div>
    </div>


{% endblock %}