{% extends 'main/base.html' %}

{% block navbar %}
    <h1>Прайс-лист</h1>
{% endblock %}

{% block content %}
    <div class="form-upload-block">
        <div class="filler"></div>
        <form id="excel-form" method="post" enctype="multipart/form-data">
            <label id="folder-name-label" for="folder-name">Название папки</label>
            <input id="folder-name" name="folder-name" type="text">

            {% csrf_token %}
            <button id="excel-button" type="submit">Создать</button>
        </form>
        <div class="filler"></div>
    </div>

{% endblock %}