{% extends 'main/base.html' %}

{% block navbar %}
    <h1>Добавление дилера</h1>
{% endblock %}

{% block content %}

    <div class="forma-block">
        <div class="filler"></div>
        <form method="post">
            <div class="inputarea">
                <input class="form-control-input" id="username" type="text" name="username" required>
                <div class="labelline" for="username">Имя пользователя</div>
            </div>
            <div class="inputarea">
                <input class="form-control-input" id="username" type="text" name="firm" required>
                <div class="labelline" for="firm">Фирма</div>
            </div>
            <div class="inputarea">
                <input class="form-control-input" id="password" type="text" name="password" required>
                <div class="labelline" for="password">Пароль</div>
            </div>


            {% if error %}
                <div class="errors-block">
                    <span class="error-span">{{ error }}</span>
                </div>
            {% endif %}


            <div class="button-block">
                <button id="submit-button" type="submit">Добавить</button>
            </div>
            {% csrf_token %}
        </form>
        <div class="filler"></div>
    </div>


{% endblock %}