{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Чат с пользователем {{ recipient.username }}</h1>
{% endblock %}

{% block content %}
    <div class="user-chat-block">
        <div class="filler"></div>
        <div class="user-chat">
            <div id="messages-body" class="messages">

                {% for message in messages %}

                    {% if message.sender == request.user %}
                        <div class="my_message">
                            <div class="message">
                                <div class="message-body">
                                    <span>{{ message.text }}</span>
                                </div>
                                <div class="message-info">
                                    <span>Вы: {{ message.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="other_message">
                            <div class="message">
                                <div class="message-body">
                                    <span>{{ message.text }}</span>
                                </div>
                                <div class="message-info">
                                    <span>{{ recipient.username }}: {{ message.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="toolbar">
                <textarea placeholder="Введите сообщение" id="message-text"></textarea>
                <button onclick="sendMessage()">send</button>
            </div>

            <input id="to" type="number" hidden value="{{ recipient.id }}">
            <input id="from" type="number" hidden value="{{ request.user.id }}">
        </div>
        <div class="filler"></div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
