{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>
        Чат с пользователем {{ recipient.username }}
        {% if recipient.role == 'ADMIN' %}
            ( АДМИН )
        {% endif %}
        {% if recipient.role == 'MANAGER' %}
            Менеджер ( {{ recipient.name }} {{ recipient.surname }} {{ recipient.sub_role }} )
        {% endif %}
        {% if recipient.role == 'SUPERMANAGER' %}
            Менеджер ( {{ recipient.name }} {{ recipient.surname }} {{ recipient.sub_role }} )
        {% endif %}
        {% if recipient.role == 'DEAlER' %}
            Дилер ( {{ recipient.dealer_name }} )
        {% endif %}
        {% if recipient.role == 'CLIENT' %}
            Клиент ( {{ recipient.name }} {{ recipient.surname }} )
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="user-chat-block">
        <div class="filler"></div>
        <div class="user-chat">
            <div id="messages-body" class="messages">

                {% for message in messages %}

                    {% if message.obj.sender == request.user %}
                        <div class="my_message">
                            <div class="message">
                                <div class="message-body">
                                    {% if message.type == 'text' %}
                                        <span>{{ message.obj.text }}</span>
                                    {% else %}
                                        <span>
                                            <span class="material-symbols-outlined">
                                                attach_file
                                            </span>
                                            <a target="_blank" href="{{ message.obj.document.url }}">{{ message.obj.get_text }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="message-info">
                                    <span>Вы: {{ message.obj.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="other_message">
                            <div class="message">
                                <div class="message-body">
                                    {% if message.type == 'text' %}
                                        <span>{{ message.obj.text }}</span>
                                    {% else %}
                                        <span>
                                            <span class="material-symbols-outlined">
                                                attach_file
                                            </span>
                                            <a target="_blank" href="{{ message.obj.document.url }}">{{ message.obj.get_text }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="message-info">
                                    <span>{{ recipient.username }}: {{ message.obj.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="toolbar">
                <textarea placeholder="Введите сообщение" id="message-text"></textarea>

                <button onclick="sendMessage()">send</button>
            </div>

            <input id="to" type="number" hidden value="{{ recipient.id }}">
            <input id="from" type="number" hidden value="{{ request.user.id }}">
        </div>
        <div id="right-chat-filler" class="filler">

            <a id="go_to_send_file" href="/chat/{{ recipient.id }}/send_file">Отправить файл</a>

        </div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
