{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Дилеры</h1>
{% endblock %}

{% block content %}

    {% if request.user.role == 'ADMIN' %}
        <div class="add-manager-block">
            <a href="/dealers/add">
                <button id="add-manager-button">Добавить нового дилера</button>
            </a>
        </div>
    {% endif %}

    {% if dealers_count > 0 %}
        <table class="users-table">
            <thead><tr>
                <th class="del-td"></th>
                <th class="del-td"></th>
                <th class="del-td"></th>
                <th class="del-td"></th>
                <th>Имя пользователя</th>
                <th>Фирма</th>
                <th>Пароль</th>
            </tr></thead>
            <tbody>
                {% for dealer in dealers %}
                    <tr>
                        <td class="del-td">
                            <button type="button" class="mini-link chat_button" onclick="window.location.href = '/chat/{{ dealer.id }}'">Chat</button>
                        </td>
                        <td class="del-td">
                            <button type="button" class="mini-link history_button" onclick="window.location.href = '/user_history/{{ dealer.id }}'">History</button>
                        </td>
                        <td class="del-td">
                            <button type="button" class="mini-link rm_button" onclick="show_confirm_delete_user_modal({{ dealer.id }})">Delete</button>
                        </td>
                        <td class="del-td">
                            <a class="mini-link edit_button" href="/edituser/{{ dealer.id }}">Edit</a>
                        </td>
                        <td>{{ dealer.username }}</td>
                        <td>
                            {% if dealer.dealer_name %}
                                {{ dealer.dealer_name }}
                            {% endif %}
                        </td>
                        <td>{{ dealer.clear_password }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 class="not-found">Дилеры не найдены!</h1>
    {% endif %}


    <script src="{% static 'js/users_functions.js' %}"></script>

    <div id="user_modal" style="display: none;">
        <h4 id="modal-text"></h4>
        <div id="user-modal-buttons-block">
            <button id="cancel_rm_user" onclick="document.getElementById('user_modal').style.display = 'none'" type="button">Нет</button>
            <button id="confirm_rm_user" type="button">Да</button>
        </div>
    </div>

{% endblock %}