{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Папка {{ folder.name }}</h1>
{% endblock %}

{% block content %}

        <div class="files-block">

            {% for doc in files %}
                <a class="doc" target="_blank" href="/files/{{ doc.id }}">
                    <div class="doc-image">
                        {% if doc.file_type == 'pdf' %}
                            <img src="{% static 'imgs/pdf.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'xlsx' %}
                            <img src="{% static 'imgs/xlsx.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'doc' %}
                            <img src="{% static 'imgs/doc.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'docx' %}
                            <img src="{% static 'imgs/doc.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'image' %}
                            <img src="{% static 'imgs/image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="doc-title">
                        {{ doc.title }}
                    </div>
                </a>
            {% endfor %}

            <a class="doc-additional" href="/files/add">
                <div class="doc-title">
                    Добавить документ
                </div>
            </a>

        </div>


{% endblock %}