{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Папка {{ folder.name }}</h1>
{% endblock %}

{% block content %}
        
        {% if back_link %}
            <div class="block-back-on-folder">
                <a class="back-folder" href="{{ back_link }}">Назад</a>
            </div>
        {% endif %}

        <div class="files-block">

            {% for folder in folders %}
                <div class="doc">
                    <div class="doc-image">
                        <img src="{% static 'imgs/folder.png' %}" alt="">
                    </div>
                    <div class="doc-title">
                        {{ folder.name }}
                    </div>
                    <a href="/folders/{{ folder.id }}">Открыть</a>
                    {% if can_delete %}
                        <a class="rlink" href="/folders/{{ folder.id }}/delete">Удалить</a>
                    {% endif %}
                </div>
            {% endfor %}
            {% for doc in files %}
                <div class="doc">
                    <div class="doc-image">
                        {% if doc.file_type == 'pdf' %}
                            <img src="{% static 'imgs/pdf.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'xlsx' %}
                            <img src="{% static 'imgs/xlsx.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'doc' %}
                            <img src="{% static 'imgs/doc.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'docx' %}
                            <img src="{% static 'imgs/doc.png' %}" alt="">
                        {% endif %}
                        {% if doc.file_type == 'image' %}
                            <img src="{% static 'imgs/image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="doc-title">
                        {{ doc.title }}
                    </div>
                    <a target="_blank" href="/files/{{ doc.id }}">Открыть</a>
                    {% if can_delete %}
                        <a class="rlink" href="/files/{{ doc.id }}/delete">Удалить</a>
                    {% endif %}
                </div>
            {% endfor %}


            {% if staff %}
            <a class="doc-additional" href="/folders/{{ folder.id }}/add_folder">
                <div class="doc-title">
                    Добавить папку
                </div>
            </a>

            <a class="doc-additional" href="/folders/{{ folder.id }}/add_file">
                <div class="doc-title">
                    Добавить документ
                </div>
            </a>
            {% endif %}

        </div>


{% endblock %}