{% extends 'main/base.html' %}

{% block navbar %}
    <h1>Главная</h1>
{% endblock %}

{% block content %}

    {% if request.user.role == 'ADMIN' %}
    <div class="home-info-blocks">

        <div class="managers-count">
            <h2>Количество менеджеров: {{ managers_count }}</h2>
        </div>
        <div class="dealers-count">
            <h2>Количество дилеров: {{ dealers_count }}</h2>
        </div>
        <div class="clients-count">
            <h2>Количество клиентов: {{ clients_count }}</h2>
        </div>

    </div>
    {% endif %}

    <div class="chats-block">
        <h1>Мои чаты</h1>

        <div class="chats-list">
            {% for chat in chats %}
                <a class="chat" href="/chat/{{ chat.recipient.id }}">
                    {{ chat.recipient.username }}
                    {% if chat.unread > 0 %}
                        (<p>{{ chat.unread }}</p>)
                    {% endif %}
                </a>
            {% endfor %}
        </div>

    </div>

{% endblock %}