{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Главная</h1>
{% endblock %}

{% block content %}

    {% if request.user.role == 'ADMIN' %}
        
    <div class="edit-my-account-block">
        <a href="/edit_me">Настройки аккаунта</a>
    </div>
        
    <div class="home-info-blocks">

        {% if staff %}
            <div class="managers-count">
                <h2>Количество менеджеров: {{ managers_count }}</h2>
            </div>
            <div class="DEALER-count">
                <h2>Количество дилеров: {{ DEALER_count }}</h2>
            </div>
            <div class="clients-count">
                <h2>Количество клиентов: {{ clients_count }}</h2>
            </div>
        {% endif %}

        {% if not staff %}
            <div id="my_task" class="my_task">
                <h2>
                    <input
                            id="my_task_input"
                            class="user-sub-role-input"
                            type="text"
                            {% if request.user.sub_role %}
                                value="{{ request.user.sub_role }}"
                            {% else %}
                                placeholder="Введите свою задачу"
                            {% endif %}
                            onchange="update_my_task()"
                    >
                </h2>
            </div>
            <a href="/orders/my" class="empty my_order-link">
                Мои заказы
            </a>
            <a href="/my_trash" class="my_trash">
                <h2>Моя корзина</h2>
            </a>
        {% endif %}

    </div>
    {% endif %}

    <div class="chats-block">
        <h1>Мои чаты</h1>

        <div class="chats-list">
            {% for chat in chats %}
                <a class="chat" href="/chat/{{ chat.recipient.id }}">
                    {{ chat.recipient.username }}
                    {% if chat.unread > 0 %}
                        (<p>{{ chat.unread }}</p>)
                    {% endif %}
                </a>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
