{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Менеджеры</h1>
{% endblock %}

{% block content %}
    {% if request.user.role == 'ADMIN' %}
        <div class="add-manager-block">
            <a href="/managers/add">
                <button id="add-manager-button">Добавить нового менеджера</button>
            </a>
        </div>
    {% endif %}

    {% if manager_count > 0 %}
        <table class="users-table">
            <thead><tr>
                <th class="del-td"></th>
                <th class="del-td"></th>
                {% if request.user.role == 'ADMIN' %}
                    <th class="del-td"></th>
                    <th class="del-td"></th>
                {% endif %}
                <th>Имя пользователя</th>
                <th>Имя, Фамилия</th>
                <th>Пароль</th>
                <th>Задача</th>
                <th>Принимает заявки на почту</th>
            </tr></thead>
            <tbody>
                {% for manager in managers %}
                    <tr>
                        <td class="del-td">
                            <button type="button" class="mini-link chat_button" onclick="window.location.href = '/chat/{{ manager.id }}'">Chat</button>
                        </td>
                        {% if request.user.role == 'ADMIN' %}
                            <td class="del-td">
                                <button type="button" class="mini-link history_button" onclick="window.location.href = '/user_history/{{ manager.id }}'">History</button>
                            </td>
                            <td class="del-td">
                                <button type="button" class="mini-link rm_button" onclick="show_confirm_delete_user_modal({{ manager.id }})">Delete</button>
                            </td>
                        {% endif %}

                        {% if request.user.rol == 'ADMIN' or request.user.role == 'SUPERMANAGER' %}
                            <td class="del-td">
                                <a class="mini-link edit_button" href="/edituser/{{ manager.id }}">Edit</a>
                            </td>
                        {% endif %}
                        <td>{{ manager.username }}</td>
                        <td>{{ manager.name }} {{ manager.surname }}</td>
                        <td>{{ manager.clear_password }}</td>
                        <td>
                            {% if manager.sub_role %}
                                {{ manager.sub_role }}
                            {% endif %}
                        </td>
                        <td>
                            {% if manager.receive_emails %}
                                ✔
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <!--{% for manager in supermanagers %}
                    <tr class="supermanager-tr">
                        <td class="del-td">
                            <button type="button" class="mini-link chat_button" onclick="window.location.href = '/chat/{{ manager.id }}'">Chat</button>
                        </td>
                        <td class="del-td">
                            <button type="button" class="mini-link history_button" onclick="window.location.href = '/user_history/{{ manager.id }}'">History</button>
                        </td>
                        {% if request.user.role == 'ADMIN' %}
                        <td class="del-td">
                            <button type="button" class="mini-link rm_button" onclick="show_confirm_delete_user_modal({{ manager.id }})">Delete</button>
                        </td>
                        <td class="del-td">
                            <a class="mini-link edit_button" href="/edituser/{{ manager.id }}">Edit</a>
                        </td>
                        {% endif %}
                        <td>{{ manager.username }}</td>
                        <td>{{ manager.name }} {{ manager.surname }}</td>
                        <td>{{ manager.clear_password }}</td>
                        <td>
                            {% if manager.sub_role %}
                                {{ manager.sub_role }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}-->
            </tbody>
        </table>
    {% else %}
        <h1 class="not-found">Дилеры не найдены!</h1>
    {% endif %}

    <script src="{% static 'js/users_functions.js' %}"></script>

    <div id="user_modal" style="display: none;">
        <h4 id="modal-text"></h4>
        <div id="user-modal-buttons-block">
            <button id="cancel_rm_user" onclick="document.getElementById('user_modal').style.display = 'none'" type="button">Нет</button>
            <button id="confirm_rm_user" type="button">Да</button>
        </div>
    </div>

{% endblock %}