{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Мои заказы</h1>
{% endblock %}

{% block content %}

    <div class="my_orders_block">

        <table class="my_table">
            <thead>
                <tr>
                    <th>№ заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="order-tr" onclick="window.location.href='/orders/my/{{ order.id }}'">
                        <td>#{{ order.id }}</td>
                        <td>{{ order.date }}</td>
                        <td>
                            {% if order.complete %}
                                <span class="completed">
                                    Выполнен
                                </span>
                            {% else %}
                                <span class="not_completed">
                                    Не выполнен
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
