{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
    <h1>Прайс-лист</h1>
{% endblock %}

{% block content %}

    {% if staff %}
    <div class="pricelist-info-block">
        <h1>Обновлён {{ update_date }}</h1>
        <div class="add-link">
            <a href="/add_pricelist">Обновить прайс-лист</a>
        </div>
    </div>
    {% endif %}

    <div class="product-find-block">
        <form method="post">
            <input id="nom" name="nom" class="form-control_" type="text" placeholder="Номенклатура"
                {% if n %}
                    value="{{ n }}"
                {% endif %}
            >
            <input id="char" name="char" class="form-control_" type="text" placeholder="Ценовая группа/ Номенклатура/ Характеристика номенклатуры"
                {% if c %}
                    value="{{ c }}"
                {% endif %}
            >
            <input id="mark" name="mark" class="form-control_" type="text" placeholder="Марка"
                {% if m %}
                    value="{{ m }}"
                {% endif %}
            >
            <button type="submit" id="search_button">Поиск</button>
            {% csrf_token %}
        </form>
    </div>

    <div id="scrolled_table">
        <table class="my_table">
            <thead>
                <tr>
                    <th>Номенклатура.Артикул</th>
                    <th>Ценовая группа/ Номенклатура/ Характеристика номенклатуры</th>
                    <th>Остаток</th>
                    <th>Марка</th>
                    <th>Цена</th>
                    {% if staff %}
                        <th>Добавить в корзину</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="tb">
                {% for prod in products %}
                <tr>
                    <td>
                        {% if prod.product.serial_number %}
                            {{ prod.product.serial_number }}
                        {% endif %}
                    </td>
                    <td>
                        {% if prod.product.name %}
                            {{ prod.product.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if prod.product.count %}
                            {{ prod.product.count }}
                        {% endif %}
                    </td>
                    <td>
                        {% if prod.product.mark %}
                            {{ prod.product.mark }}
                        {% endif %}
                    </td>
                    <td>
                        {% if prod.product.price %}
                            {{ prod.product.price }}
                        {% endif %}
                    </td>
                    {% if staff %}
                        <td class="cardtd">
                            {% if prod.saved %}
                                <button id="prod-{{ prod.product.id }}" class="on_card_button" onclick="remove_from_trash({{ prod.product.id }})">
                                    <span>✔</span>
                                </button>
                            {% else %}
                                <button id="prod-{{ prod.product.id }}" class="add_to_card_button" onclick="add_to_card({{ prod.product.id }})">
                                    <span>+</span>
                                </button>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/price_list.js' %}"></script>
{% endblock %}
