:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    font-family: var(--bs-font-sans-serif);
    color: #e4efff;

}

html, body {
    margin: 0;
    padding: 0;

    background-color: #333333;
}

a {
    text-decoration: none;
}

.login-container {
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;
}

#main-body {
    text-align: center;
}

#login-form {
    background-color: #212529;
    border-radius: 15px;
    margin-top: 2rem;
    text-align: center;
    padding: 4rem 2rem;
    color: white;
}

.form-block {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 2rem;
}

.login-input {
    border-radius: 7px;
    padding: 0.7rem 1rem;
    font-size: 1.25rem;
    color: black;
}

#login-form-logo {
    width: 300px;
}

#login_button {
    background-color: #212529;
    color: white;
    border: 1px solid white;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    padding: 0.7rem 2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#login_button:hover {
    background-color: white;
    color: #212529;
}

.container {
    display: grid;
    grid-template-columns: 17vw 83vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #333333;
}

aside {
    height: 98vh;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: 1vw;
    width: 15vw;
    text-align: center;
    border-radius: 15px;
    background-color: #212529;
}

main {
    width: 83vw;
    height: 100vh;
    max-height: 100vh;
    background-color: #333333;
}

#logo-container {
    width: 100%;
    height: 13vw;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container > img {
    width: 13vw;
    height: 13vw;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    width: 100%;
}

li {
    width: 100%;
}

li > a > button:hover {
   background-color: #e4efff;
    color: black;
}

li > a > button {
    width: 80%;
    background-color: inherit;
    cursor: pointer;
    font-size: 24px;
    border: none;
    outline: none;
    margin-bottom: 0.3rem;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 0.3rem 1rem;
}

.navbar {
    width: 82vw;
    height: 60px;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    background-color: #212529;
    border-radius: 15px;
}

.navbar > h1 {
    margin-left: 1rem;
}

.content {
    height: calc(99vh - 60px - 2rem);
    max-height: calc(99vh - 60px - 2rem);
    padding: 1rem 0;
    width: calc(83vw - 1rem);
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

.add-manager-block {
    text-align: end;
}

#add-manager-button {
    color: #e4efff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2f89ff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 20px;
}

#add-manager-button:hover {
    outline: 3px solid #6baafd;
}

.users-table {
    margin-top: 1rem;
    width: 100%;
}

.users-table,
.users-table > thead,
.users-table > tbody,
.users-table > thead > tr,
.users-table > tbody > tr,
.users-table > thead > tr > th,
.users-table > tbody > tr > td {
    border-collapse: collapse;
    border: 1px solid #e4efff;
}

.users-table > thead > tr > th,
.users-table > tbody > tr > td {
    height: 10px;
    padding: 7px 1rem;
}

.users-table > tbody > tr > td.del-td {
    width: 5px;
}

.users-table > tbody > tr:hover {
    background-color: #212529;
    cursor: pointer;
}

.forma-block {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.inputarea {
    position: relative;
    margin-bottom: 1rem;
    height: 50px;
    line-height: 50px;
}

.form-control-input {
    position: absolute;
    width: calc(100% - 2rem - 4px);
    padding: 0 1rem;
    line-height: 3rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid #e4efff;
    outline: none;
    font-size: 20px;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.labelline {
    position: absolute;
    background-color: #333333;
    color: #e4efff;
    margin: 0 5px;
    padding: 0 10px;
    transition: 0.2s ease;
    transform: translatey(7px);
    font-size: 20px;
}

.form-control-input:focus + .labelline,
.form-control-input:valid + .labelline {
    transform: translateY(-5px) scale(0.88);
    font-size: 16px;
    line-height: 30px;
    z-index: 1111;
}

.button-block {
    text-align: center;
}

#submit-button {
    margin-top: 1rem;
    border: none;
    border-radius: 7px;
    color: black;
    width: 70%;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    cursor: pointer;
}

.not-found {
    text-align: center;
}

.files-block {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.doc {
    margin: 0.5rem;
    width: calc(100% - 3rem);
    background-color: #7c7c7c;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
}

.doc-additional {
    margin: 0.5rem;
    width: calc(100% - 3rem);
    background-color: #5c88ba;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.doc > .doc-image > img {
    width: 50px;
}

.doc-title {
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
}

.doc-link-block {
    margin-top: 0.5rem;
    text-align: end;
}

.doc-link-block > a {
    font-weight: bold;
    font-size: 16px;
    color: whitesmoke;
    background-color: #6baafd;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
}

.home-info-blocks {
    display: flex;
    flex-direction: row;
}

.managers-count, .dealers-count, .clients-count {
    background-color: #212529;
    height: 100px;
    color: #e4efff;

    margin: 0 0.5rem;
    border-radius: 15px;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 33%;
}

.add-file-block {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.mini-link {
    color: #2f89ff;
    font-size: 12px;
}

.add-file-block > form {
    margin-top: 30%;
}

.form-control {
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: black;
}

input[type=file] {
    display: none;
}

#choice_file {
    width: calc(100% - 2rem - 4px);
    max-width: calc(100% - 2rem - 4px);
    padding: 0 1rem;
    font-size: 20px;
    display: block;
    border-radius: 10px;
    outline: none;
    text-align: center;
    border: 2px solid #e4efff;
    color: #e4efff;
    overflow-x: scroll;
    cursor: pointer;
}

#choice_file:hover {
    background-color: #e4efff;
    color: #212529;
}

#choice_file::-webkit-scrollbar {
    display: none;
}

#file_button {
    color: #e4efff;
    border: 2px solid #e4efff;
    width: calc(100%);
    padding: 0.5rem 1rem;
    background: transparent;
    font-size: 18px;
    border-radius: 10px;
}

#user_modal {
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 20vh;
    background-color: #e4efff;
    box-shadow: 0 0 10px 10px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-text {
    color: black;
}

#cancel_rm_user, #confirm_rm_user {
    padding: 0.5rem 3rem;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#cancel_rm_user {
    background-color: #2f89ff;
}

#confirm_rm_user {
    background-color: #ff2f5e;
}

.rm_button {
    background-color: #ff2f5e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.1rem 1rem;
}

.history_button {
    background-color: #fff259;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.1rem 1rem;
}

.edit_button {
    background-color: #2f89ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

.user-edit-block {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.user-edit-block > form > .inputarea > select {
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    line-height: 3rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid #e4efff;
    outline: none;
    font-size: 20px;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.user-edit-block > form > .inputarea > select > option {
    color: black;
}

#confirm-edit-user-button {
    background-color: #2f89ff;
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 1rem;
}

.empty_history {
    text-align: center;
}

.chats-list {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
}

.chat {
    height: 100px;
    width: calc(100% - 1rem);
    padding: 0.5rem;

    background-color: #212529;
    color: #e4efff;
    border-radius: 10px;

    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-chat-block {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
}

.user-chat {
    width: calc(100% - 2rem - 2px);
    border: 1px solid #e4efff;
    color: #e4efff;
    background-color: #212529;
    padding: 1rem;
    border-radius: 15px;
    height: calc(100vh - 2rem - 60px - 2rem);
    max-height: calc(100vh - 2rem - 60px - 2rem - 2px);
}

.user-chat::-webkit-scrollbar {
    display: none;
}

.messages {
    height: calc(100vh - 4rem - 60px - 2rem - 5vh);
    max-height: calc(100vh - 4rem - 60px - 2rem - 2px - 5vh);
    padding: 0.5rem;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.toolbar {
    margin-top: 1rem;
    height: 5vh;
    width: calc(100%);
    display: flex;
}

.toolbar > textarea {
    width: 80%;
    border: none;
    outline: none;
    color: black;
    height: calc(100% - 0.6rem);
    margin: 0;
    padding: 0.3rem;
    font-size: 18px;
    resize: none;
    border-radius: 15px 0 0 15px;
}

.toolbar > button {
    width: 20%;
    border: none;
    outline: none;
    color: black;
    height: 100%;
    margin: 0;
    padding: 0.3rem;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

.message {
    border: 1px solid #e4efff;
    border-radius: 5px;
    padding: 0.3rem;
    max-width: 70%;
}

.my_message {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-bottom: 0.5rem;
}

.other_message {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin-bottom: 0.5rem;
}

.message-body {
    font-size: 18px;
}

.message-info {
    margin-top: 0.2rem;
    font-size: 12px;
    width: 100%;
    text-align: end;
}

p {
    color: #2f89ff;
    font-weight: bold;
}

.chat_button {
    background-color: greenyellow;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.1rem 1rem;
}

.form-upload-block {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

#excel-form {
    width: 100%;
    margin-top: 20%;
}

#excel-label {
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #e4efff;
    font-size: 30px;
    padding: 1rem;
    width: calc(100% - 2rem - 2px);
    cursor: pointer;
}

#excel-label:hover {
    background-color: #788ba3;
    color: white;
}

#excel-button {
    width: calc(100%);
    font-size: 18px;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #2f89ff;
    color: #e4efff;
    border: none;
    border-radius: 10px;
}

#folder-name-label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#folder-name {
    margin-top: 1rem;
    width: calc(100% - 2rem - 2px);
    border: 1px solid #e4efff;
    background-color: inherit;
    border-radius: 15px;
    font-size: 24px;
    padding: 0.5rem 1rem;
}

#right-chat-filler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#go_to_send_file {
    width: 80%;
    background-color: #2f89ff;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
}

#file_message_label {
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #e4efff;
    font-size: 30px;
    padding: 1rem;
    width: calc(100% - 2rem - 2px);
    cursor: pointer;
}

#file_message_label:hover {
    background-color: #788ba3;
}

#file_message_button {
    display: block;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    width: 100%;
    padding: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #2f89ff;
}

table, tbody {
	width: 100%;
	margin: 0;
	padding: 0;
}

table, thead, tbody, tr, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 0.5rem;
}

.my_table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.my_table tr:first-of-type th:first-of-type {
    border-top-left-radius: 10px;
}

.my_table tr:first-of-type th:last-of-type {
    border-top-right-radius: 10px;
}

.my_table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

.my_table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.material-symbols-outlined {
	vertical-align: middle;
}

.pricelist-info-block > h1 {
    padding: 0;
    margin: 0;
}

.add-link {
    text-align: end;
    margin-bottom: 1rem;
}

.add-link > a {
    color: #e4efff;
    text-decoration: none;
    background-color: #2f89ff;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    margin: 1rem;
}

.product-find-block {
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
}

#search-product {
    width: 70%;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 5px;
    color: black;
    text-align: center;
}

#search_button {
    color: #e4efff;
    background-color: #2f89ff;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.form-control_ {
    font-size: 18px;
    border-radius: 10px;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    margin-right: 0.5rem;
    width: 25%;
}

.centred {
    text-align: center;
}

#scrolled_table {
    max-height: 75vh;
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 10px;
}
#scrolled_table::-webkit-scrollbar {
  width: 10px;
}

#scrolled_table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

#scrolled_table::-webkit-scrollbar-thumb {
  background: rgba(207, 207, 207, 0.63);
  border-radius: 10px;
}

.users-list {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.user-activity-link {
    font-size: 20px;
    font-weight: bold;
    background-color: #6baafd;
    color: #e4efff;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
